venv/

uploads/
templates/
static/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store

*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a
*.wma
*.opus
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
*.jpg
*.jpeg
*.png